html, body {
   background: #7c7676;
}

#timberman {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%) translateY(-50%);
  width: 360px;
  height: 540px;
  background: #000;

  canvas {
    position: relative;
    z-index: 2;
  }

  .loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }
}
